@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    /* --primary-color: #2588f1; */
    --primary-color: rgb(35, 115, 219);
    --primary-color-half: rgba(35, 115, 219,0.5);
    --primary-darker-color: rgba(33,16,108,1);
    --danger-color: rgb(235, 8, 8);
    --success-color: rgb(89, 160, 7);
    --warning-color: rgb(236, 196, 14);
    --lightblue-color: rgba(37,158,241);

}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */

.navbar{
    background-color: var(--primary-color);
    text-align: center;
    z-index: 999;
    position: relative;
    width: 100%;
    height: 100px;
}

.nav-logo{
    height: 100%;
    float: left;
    transition: transform 250ms ease-in-out;
}

.nav-logo:hover{
    transform: scale(1.1);
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    right: 50px;
    margin-left: 1em;
    height: 100%;
    display: none;
    align-items: center;
}

.nav-toggle-label{
    font-size: 35px;
}

nav{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: var(--primary-color);
    
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2%;
}

nav ul li{
    padding: 5px 20px;
}

nav a{
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    text-decoration: none;
    line-height: 24px;
}

nav ul li a{
    font-weight: lighter;
    position: relative;
}

nav div{
    justify-content: center;
}


nav ul a::before{
    content: "";
    position: absolute;
    top: 110%;
    left: -5%;
    width: 110%;
    border-bottom: 1px solid white;
    transform: scaleX(0);
    transition: all 500ms ease-in-out;
}

nav ul a:hover::before{
    transform: scaleX(1);
}

/* Showcase */

header{
    height: 700px;
    background-color: var(--primary-color);
    border-top: 1px solid white;
    position: relative;
}

header h1{
    font-size: 48px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.showcase-images{
    height: 60%;
    position: relative;
}

header img{
    border-radius: 25px;
    position: absolute;
    height: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    transition: all 1000ms ease-in-out;
}

header img:nth-of-type(1){
    z-index: 99;
    left: 10%;
    top: -60px;
}

header img:nth-of-type(2){
    z-index: 100;
    top: -10px;
    left: 30%;
}

header img:hover{
    transform: scale(1.05);
    z-index: 101;
}

/* Functionality */

.functionality{
    height: 550px;
    min-height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    background: linear-gradient(var(--primary-color), var(--primary-color-half));
    padding-top: 150px !important;
    padding-bottom: 50px !important;
}

.functionality .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    border-radius: 15px;
    transition: all 250ms ease-in-out;
}

.functionality .card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(121, 70, 70, 0.2);
}

.functionality .card-image{
    height: 150px;
    margin-bottom: 10px;
}

.functionality .card-title{
    margin-bottom: 10px;
}

/* Comments */

.comments{
    margin-top: 150px;
    margin-bottom: 150px;
    height: 500px;
}

.random-comments{
    width: 60%;
    height: 100%;
}

.random-comments > h1{
    color: var(--primary-darker-color);
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
}

.random-employers{
    width: 40%;
}

.random-employers .card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px 10px 20px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.random-employers .card-image{
    width: 150px;
    margin: 10px auto 10px auto;
}

.random-employers .card-title{
    font-size: 14px;
    font-weight: bolder;
}

.random-employers .card-content{
    font-size: 14px;
    font-weight: lighter;
}

/* Slider */

.mySlides{
    height: 100%;
}

.mySlides > div{
    height: 100%;
}

.slide-logo{
    width: 150px;
    margin: 15px auto;
}

.slide-comment{
    font-size: 2rem;
    font-style: italic;
    font-weight: lighter;
}

/* Register Page */

.register-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
}

/* Login Page */

.login-page{
    height: 100vh;
}

.login-page img{
    height: 150px;
}

.login-page div{
    width: 300px;
}

.login-page div:nth-of-type(4) a{
    font-size: 12px;
    text-decoration: none;
    color: var(--primary-color);
}

/* Comments Page */

.comments-page{
    padding: 0 15% 0 15%;
}

.comments-page .card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
}

.comments-page .card .card-image{
    height: 500px;
    width: 400px;
    margin-bottom: 50px;
}

.comments-page .card .card-details{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
}

.comments-page .card .card-logo{
    width: 40px;
}

.comments-page .card .card-details div{
    display: flex;
    flex-direction: column;
}

.comments-page .card .card-content{
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;    
}

.comments-page .card .card-details button{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/* Company Manager Main Page */
.com-manager-page{
    display: flex;
}

.side-bar{
    width: max-content;
    height: 100%;
    background-color: var(--primary-color);
    color: white;
    min-height: 100vh;
    padding: 5px;
}

.side-bar > div{
    display: flex;
    justify-content: space-around;
    margin: 0  0 15px 0;
    padding-top: 15px;
}

.side-bar > div img{
    height: 75px;
}

.side-bar hr{
    border: none;
    border-bottom: 1px solid white;
    outline: none;

}

.side-bar ul li a{
    display: block;
    padding: 20px 40px;
    color: #fff;
    text-decoration: none;
}

.side-bar i{
    margin-right: 15px;
}

.side-bar ul li a:hover{
    color: var(--primary-color);
    background-color: #fff;
}

.content{
    width: 100%;

}

.content hr{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.content .header{
    margin: 0  0 15px 0;
    padding-top: 15px;
    position: relative;
}

.content > div{
    padding-left: 50px;
    padding-right: 50px;
}
.header h2{
    font-size: 21px;
    font-weight: 600;
    font-size: 27px;
}
.header span{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(99, 99, 99);
}

.header i{
    color: var(--primary-color);
    display: none;
}

.header .dropdown-task{
    position: absolute;
    right: 50px;
    top: 135%;
    background-color: #333;
    display: none;
    transition: all 500ms ease-in-out;
    transform-origin: top;
    z-index: 999;
}

.dropdown-toggle{
    display: none;
}

.dropdown-toggle-label{
    margin: auto 0;
}

.header .dropdown-task ul{
    list-style: none;
    margin: 0;
    padding: 10px 10px;
}
.header .dropdown-task ul li a{
    padding: 5px 15px;
    color: #fff;
    display: block;
    text-decoration: none;
}

.header .dropdown-task ul li a:hover{
    background-color: #fff;
    color: var(--primary-color);
    cursor: pointer;
}
.header .dropdown-task ul li i{
    margin-right: 10px;
}

.remaining-day{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding: 15px 50px 0 50px;
}

.com-manager-page .employee-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);
    padding: 50px 50px;
    row-gap: 25px;
    column-gap: 25px;
}

.com-manager-page .content .card{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    min-height: 250px;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--primary-darker-color);
}

.com-manager-page .content .card h3{
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .5px;
    font-weight: 400;
}

.com-manager-page .content .card h3 i{
    margin-right: 10px;
    
}


.com-manager-page .content .chart-card{
    grid-row: 1/3;
}

.com-manager-page .content .card-header{
    display: flex;
    justify-content: space-between;
}

/* List Page */

.func-list-page{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.listpage .content div:nth-of-type(2){
    border: black;
}

.listpage .card-grid{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    justify-items: center;
    width: 100%;
    padding: 0 !important;
}

#employee-table{
    display: none;
}

/* Employee Edit Panel */

.tabs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tabs a{
    text-decoration: none;
    color: rgba(53, 53, 53, 0.603);
    padding-bottom: 10px;
    margin-right: 1.25rem;
}

.tabs a:active{
    border-bottom: 2px solid var(--primary-color);
}

.tabs a:hover{
    color: black;
}

.employee-detail-section{
    display: grid;
    grid-template-columns: 30%  auto;
    gap: 25px;
}

.employee-detail-section > .c-card:last-of-type .c-card-body{
    padding: 25px 0;
    height: 100%;
}

/* Comment Detail Page */

.comment-detail-page{
    padding: 50px 150px;
}

.comment-company-detail{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.comment-company-detail div{
    text-align: left;
}

.comment-detail-page .comment{
    display: grid;
    grid-template-columns: 10% 90%;
    column-gap: 75px;
    word-wrap: break-word;
}

.comment .comment-text{
    padding-right: 75px;
    line-height: 24px;
    font-size: larger;
    letter-spacing: 1px;
    color: #333;
}

.comment-others{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 50px;
}


/* Footer */

footer {
    height: 20px;
    background-color: var(--primary-color);
}

/* Media Queries */

@media screen and (max-width: 1378px) {
    header img:nth-of-type(1){
        z-index: 99;
        left: 5%;
        top: -60px;
    }
    
    header img:nth-of-type(2){
        z-index: 100;
        top: -10px;
        left: 23%;
    }

    .com-manager-page .employee-details{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(250px, auto);
        padding: 50px 50px;
        row-gap: 25px;
        column-gap: 25px;
    }
}


@media screen and (max-width: 1200px) {
    .p-standart{
    padding: 10px 3% 10px 3%;
    }

    .nav-toggle-label{
        position: absolute;
        top: 0;
        right: 50px;
        margin-left: 1em;
        height: 100%;
        display: flex;
        align-items: center;
    }


    .nav-toggle:checked ~ nav {
        transform: scale(1,1);
    }

    nav {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background-color: var(--primary-color);
        width: 100%;
        display: block;
        height: initial;
        border-bottom: 1px solid white;
        padding: 25px 0 10px 0;
        transform: scale(1,0);
        transition: transform 500ms ease-in-out;
        transform-origin: top;
    }

    nav ul{
        display: block;
        list-style: none;
        padding: 0 3% 0 3%;
    }

    nav ul li{
        padding-left: 0;
    }

    nav ul li a{
        font-weight: bolder;
    }

    nav > div {
        border-top: 1px solid rgba(255 , 255, 255, 0.2);
        padding-top: 10px;
    }

    header{
        height: initial;
        background-color: var(--primary-color);
        border-top: 1px solid white;
        position: static;
    }    

    header div:nth-of-type(2){
        display: flex !important;
    }
    
    .showcase-images{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 50px 0;
        position: static;
    }
    
    header img{
        position: static;
        height: 250px;
        transition: all 1000ms ease-in-out;
        margin: 20px auto 0 auto;
    }
    
    header img:nth-of-type(1){
        z-index: auto;
    }
    
    header img:nth-of-type(2){
        z-index: auto;
    }
    
    header img:hover{
        transform: scale(1.05);
        z-index: auto;
    }

    .random-employers{
        display: none !important;
    }

    .random-comments{
        width: 100%;
    }

    .comments{
        margin-top: 50px;
    }

    .functionality{
        padding-top: 0 !important;
    }

    .com-manager-page .employee-details{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }    

    .employee-detail-section{
        grid-template-columns: repeat(1 ,1fr);
    }
}

@media screen and (max-width: 978px) {
    .comments-page .card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 100px;
    }

    .comments-page .card .card-image{        
        margin-left: auto;
        margin-right: auto;
    }

    .comments-page .card .card-details{
        margin-left: 0;
    }

    .form-group{
        padding: 0 !important;
    }
}

@media screen and (max-width: 875px) {
    .register-page{
        display: grid;
        grid-template-columns: 1fr;
    }

    .com-manager-page .employee-details{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .func-list-page > input{
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .func-list-page .radio-group{
        width: 100%;
    }

    .func-list-page .radio-group button{
        width: 75%;
        margin-left: auto;
    }

    .crud-modal .modal-inside .modal-content > div{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
    }
}

@media screen and (max-width: 768px) {
    .functionality{
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 60px;
        padding-top: 0 !important;
        padding-bottom: 50px !important;
    }

    .side-bar{
        display: none;
    }

    .header .dropdown-task{
        display: block;
        transform: scale(1, 0);
    }

    .dropdown-toggle:checked ~ .dropdown-task {
        transform: scale(1,1);
    }

    .content .header{
        display: flex;
        justify-content: space-between;
    }

    .content .header > h2{
        display: none;
    }

    .content .header > span{
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }

    .content .header i{
        display: inline;
        cursor: pointer;
        transition: all 250ms ease-in-out;
    }

    .content .header i:hover{
        transform: scale(1.1);
    }

    .content > div{
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 600px) {

   

}


@keyframes modalOpen{
    from{opacity: 0%;}
    to{opacity: 100%;}
}